:root{
    /* background color  */
     --bg-primary: #92A8C8;
    --bg-blue: #0EA6EC;
    --bg-grey-blue: #22304485;
    --bg-oxford-blue: #131B30;
    --bg-secondary: #0F1729;  

     --default-white:#fff;
    --default-black:#000000f6;

    /* text-color  */
     --text-white: hsla(0, 0%, 100%, 1);
    --text-offWhite: hsla(199, 69%, 84%, 1);
    --text-blue:  #0EA6EC;
    --text-gray: hsla(217, 17%, 48%, 1);
    --text-orange: rgb(216, 65, 19); 

    /* gradient color  */
    --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    --gradient-3: linear-gradient(0deg, #000d1a, transparent);
    --gradient-4: linear-gradient(50deg,rgb(255, 60, 0),  #4ebef1fa 100%);
   
    /* transition  */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);


     /* fontsize  */
     --font-h1:3.2rem;
     --font-h2:2.0rem;
     --font-h3:1.8rem;
     --font-h4:1.6rem;
     --font-h5:1.4rem;
     --font-h6:1.3rem;
     --font-p:1rem;
     --font-a:0.7rem;
     --font-btn:1.2rem;

    }

@media (max-width: 780px){
    #menu{
        display: block;
        z-index: 1000;
        
    }
    nav{
       margin-right: -20px;
       margin-top: 2px;
    }
    nav ul li{
        display: none;
    }
    nav ul li:last-child{
        display: block;
        margin-top: 30px;
        background: none;
        background-color: var(--bg-blue);
        
    }
    
    nav ul li a{
        color: #fff;
    }
    #sidebar .sidenav-contact{
        color: rgba(46, 226, 46, 0.788);
        
    }
}
